@{
    ViewData["Title"] = "Companies - Under Construction";
}

<div class="text-center">
    <h1 class="display-4">Companies Section</h1>
    <p>This section is currently under construction. Please check back later!</p>
    <img src="https://media.tenor.com/HSdrfJZAqsUAAAAM/im-building-construction.gif" alt="Under Construction" class="img-fluid" style="max-height: 500px;" />
</div> 